<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lib Manage</title>
</head>
<body>
    {% if msg %}
        {{msg}}
    {% endif %}
    <form action="/library/book_page" method="POST">
        <label>Book name:</label><br>
        <input type="text" name="book_name" required /><br><br>
        <label>Author name:</label><br>
        <input type="text" name="author" required /><br><br>
        <label>Genre:</label><br>
        <input type="text" name="genre" required /><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>